body{
  background-color: cornsilk;
  color: brown;
}

.form {
  display: block;
  text-align: center;
}

form {
    /* Center the form on the page */
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }

  h1{
    padding-left: 15px;
    padding-bottom: 10px;
    text-align: center;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    display: flex;
    width: 90px;
    text-align: left;
    font-weight: bold;

  }
  
  input, 
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
    /* Match form field borders */
    border: 1px solid #999;
  }
  

  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    color: cornflowerblue;
    background-color: blue;
    margin-left: .5em;
    border-radius: 2px;
  }
